# 시리즈 만들기

In [1]:
import pandas as pd

In [2]:
s=pd.Series(['banana',42])

In [3]:
print(s)

0    banana
1        42
dtype: object

In [4]:
s=pd.Series(['Wes McKinney','Creator of Pandas'])

In [5]:
print(s)

0         Wes McKinney
1    Creator of Pandas
dtype: object

In [6]:
s=pd.Series(['Wes McKinney','Creator of Pandas'], index=['Person','Who'])

In [7]:
print(s)

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

# 데이터프레임 만들기

In [8]:
scientists=pd.DataFrame({
    'Name': ['Rosaline Franklin', 'William Gosset'],
    'Occupation': ['Chemist','Statistican'],
    'Born': ['1920-07-25','1876-06-13'],
    'Age': [37,61]
})

In [9]:
print(scientists)

                Name   Occupation        Born  Age
0  Rosaline Franklin      Chemist  1920-07-25   37
1     William Gosset  Statistican  1876-06-13   61

In [11]:
scientists=pd.DataFrame(
    data={'Occupation': ['Chemist','Statistican'],
        'Born': ['1920-07-25','1876-06-13'],
        'Died': ['1958-04-16','1937-10-16'],
        'Age': [37,61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation','Born','Age','Died']
)

In [12]:
print(scientists)

                    Occupation        Born  Age        Died
Rosaline Franklin      Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistican  1876-06-13   61  1937-10-16

In [14]:
from collections import OrderedDict

In [15]:
#순서가 보장된 딕셔너리를 전달하려면 OrderedDict 클래스를 사용해야 한다.

In [17]:
scientists=pd.DataFrame(OrderedDict([
    ('Name', ['Rosaline Franklin', 'William Gosset']),
    ('Occupation', ['Chemist','Statistican']),
    ('Born', ['1920-07-25','1876-06-13']),
    ('Died', ['1958-04-16','1937-10-16']),
    ('Age', [37,61])
]))

In [18]:
print(scientists)

                Name   Occupation        Born        Died  Age
0  Rosaline Franklin      Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistican  1876-06-13  1937-10-16   61

# 데이터프레임에서 시리즈 선택하기

In [23]:
scientists=pd.DataFrame(
    data={'Occupation': ['Chemist','Statistican'],
        'Born': ['1920-07-25','1876-06-13'],
        'Died': ['1958-04-16','1937-10-16'],
        'Age': [37,61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation','Born','Died','Age'])

In [24]:
first_row=scientists.loc['William Gosset']

In [25]:
print(type(first_row))

<class 'pandas.core.series.Series'>

# index, values, keys 사용하기

In [26]:
print(first_row.index)

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [27]:
print(first_row.values)

['Statistican' '1876-06-13' '1937-10-16' 61]

In [29]:
print(first_row.keys())

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [30]:
print(first_row.index[0])

Occupation

In [ ]:
#index속성의 첫 번째 값 추출

In [31]:
print(first_row.keys()[0])

Occupation

In [32]:
#keys 메서드의 결괏값을 이용하여 인덱스의 첫 번째 값 추출

# 시리즈의 mean, min, max, std 메서드 사용하기

In [33]:
ages=scientists['Age']

In [35]:
print(ages) #Age 열 추출

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [36]:
print(ages.mean()) #평균

49.0

In [37]:
print(ages.min()) #최솟값

37

In [38]:
print(ages.max()) #최댓값

61

In [39]:
print(ages.std()) #표준편차

16.97056274847714

# 시리즈와 불린 추출 사용하기

In [40]:
scientists=pd.read_csv('../data/scientists.csv')

In [41]:
ages=scientists['Age']

In [42]:
print(ages.max()) #Age열을 추출하며 메서드 사용

90

In [43]:
print(ages.mean())

59.125

In [44]:
print(ages[ages>ages.mean()])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [45]:
print(ages>ages.mean())

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [46]:
print(type(ages>ages.mean()))

<class 'pandas.core.series.Series'>

In [49]:
manual_bool_values=[True, True, False, False, True, True, False, True]

In [50]:
print(ages[manual_bool_values])

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

# 시리즈와 브로드캐스팅

In [51]:
print(ages+ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [52]:
print(ages*ages)

0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

In [53]:
print(ages+100)

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64

In [54]:
print(ages*2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [56]:
print(pd.Series([1,100]))

0      1
1    100
dtype: int64

In [57]:
print(ages+pd.Series([1,100]))

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [60]:
rev_ages=ages.sort_index(ascending=False) #인덱스 역순으로 데이터 정렬

In [61]:
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [62]:
print(ages*2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [63]:
print(ages+rev_ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

# 데이터프레임과 불린 추출

In [70]:
print(scientists[scientists['Age'] > scientists['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [71]:
print(scientists.loc[[True, True, False, True]]) #69p

IndexError: Boolean index has wrong length: 4 instead of 8

# 데이터프레임과 브로드캐스팅

In [73]:
print(scientists*2)

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

# 열의 자료형 바꾸기와 새로운 열 추가하기

In [74]:
print(scientists['Born'].dtype)

object

In [75]:
print(scientists['Died'].dtype)

object

In [76]:
born_datetime=pd.to_datetime(scientists['Born'],format='%Y-%m-%d')

In [77]:
print(born_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [78]:
died_datetime=pd.to_datetime(scientists['Died'],format='%Y-%m-%d')

In [79]:
print(died_datetime)

0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [80]:
scientists['born_dt'],scientists['died_dt']=(born_datetime, died_datetime)

In [81]:
print(scientists.head())

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14

In [82]:
print(scientists.shape)

(8, 7)

In [83]:
scientists['age_days_dt']=(scientists['died_dt']-scientists['born_dt'])

In [84]:
print(scientists)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

# 시리즈, 데이터프레임의 데이터 섞어보기

In [85]:
print(scientists['Age'])

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [86]:
import random

In [87]:
random.seed(42)

In [88]:
random.shuffle(scientists['Age'])

/Users/baeksumin/opt/anaconda3/lib/python3.7/random.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]

In [89]:
print(scientists['Age'])

0    66
1    56
2    41
3    77
4    90
5    45
6    37
7    61
Name: Age, dtype: int64

# 데이터프레임의 열 삭제하기

In [90]:
print(scientists.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

In [91]:
scientists_dropped=scientists.drop(['Age'], axis=1)

In [92]:
print(scientists_dropped.columns)

Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

# 피클 형식으로 저장하기

In [93]:
names=scientists['Name']

In [94]:
names.to_pickle('../output/scientists_names_series.pickle')

In [95]:
scientists.to_pickle('../output/scientists_df.pickle')

In [98]:
scientist_names_from_pickle = pd.read_pickle('../output/scientists_names_series.pickle')
print(scientist_names_from_pickle)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

In [99]:
scientists_from_pickle=pd.read_pickle('../output/scientists_df.pickle')
print(scientists_from_pickle)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   66             Chemist
1        William Gosset  1876-06-13  1937-10-16   56        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   41               Nurse
3           Marie Curie  1867-11-07  1934-07-04   77             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   90           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   37  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   61       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

# CSV 파일과 TSV 파일로 저장하기

In [101]:
names.to_csv('../output/scientist_names_series.csv')

In [102]:
scientists.to_csv('../output/scientists_df.tsv', sep='\t')

In [103]:
scientists.to_csv('../output/scientists_df_no_index.csv', index=False)

In [104]:
names_df = names.to_frame()

import xlwt 
names_df.to_excel('../output/scientists_names_series_df.xls')

import openpyxl 
names_df.to_excel('../output/scientists_names_series_df.xlsx')