# 1. 간단한 함수 만들기

## 제곱 함수와 n 제곱 함수 만들기

In [2]:
def my_sq(x):
    return x**2

In [3]:
def my_exp(x,n):
    return x**n

In [4]:
print(my_sq(4))

16

In [5]:
print(my_exp(2,4))

16

# 2. apply 메서드 사용하기-기초

## 시리즈와 apply 메서드

In [6]:
import pandas as pd

In [7]:
df=pd.DataFrame({'a':[10,20,30], 'b':[20,30,40]})

In [8]:
print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [9]:
print(df['a']**2)

0    100
1    400
2    900
Name: a, dtype: int64

In [10]:
sq=df['a'].apply(my_sq)

In [11]:
print(sq)

0    100
1    400
2    900
Name: a, dtype: int64

In [13]:
ex=df['a'].apply(my_exp, n=2)

In [14]:
print(ex)

0    100
1    400
2    900
Name: a, dtype: int64

In [15]:
ex=df['a'].apply(my_exp, n=3)

In [16]:
print(ex)

0     1000
1     8000
2    27000
Name: a, dtype: int64

## 데이터 프레임과 apply 메서드

In [17]:
df=pd.DataFrame({'a':[10,20,30], 'b':[20,30,40]})

In [18]:
print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [19]:
def print_me(x):
    print(x)

In [20]:
print(df.apply(print_me, axis=0))

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64
a    None
b    None
dtype: object

In [21]:
print(df['a'])

0    10
1    20
2    30
Name: a, dtype: int64

In [22]:
print(df['b'])

0    20
1    30
2    40
Name: b, dtype: int64

In [23]:
def avg_3(x,y,z):
    return (x+y+z)/3

In [24]:
print(df.apply(avg_3))

TypeError: avg_3() missing 2 required positional arguments: 'y' and 'z'

In [25]:
#avg_3함수가 열 단위로 데이터를 처리할 수 있도록 수정해야 한다.

In [26]:
def avg_3_apply(col):
    x=col[0]
    y=col[1]
    z=col[2]
    return (x+y+z)/3

In [27]:
print(df.apply(avg_3_apply))

a    20.0
b    30.0
dtype: float64

In [28]:
def avg_2_apply(row):
    sum=0
    for item in row:
        sum+=item
    return sum/df.shape[1]

In [30]:
print(df.apply(avg_2_apply, axis=1))

0    15.0
1    25.0
2    35.0
dtype: float64

# 3. apply 메서드 사용하기-고급

## 데이터프레임의 누락값을 처리한 다음 apply 메서드 사용하기 - 열 방향

In [31]:
import seaborn as sns

In [32]:
titanic=sns.load_dataset("titanic")

In [33]:
print(titanic.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB
None

In [34]:
import numpy as np

In [35]:
def count_missing(vec):
    null_vec=pd.isnull(vec)
    null_count=np.sum(null_vec)
    return null_count

In [36]:
cmis_col=titanic.apply(count_missing)

In [37]:
print(cmis_col)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [38]:
def prop_missing(vec):
    num=count_missing(vec)
    dem=vec.size
    return num/dem

In [40]:
pmis_col=titanic.apply(prop_missing)

In [41]:
print(pmis_col)

survived       0.000000
pclass         0.000000
sex            0.000000
age            0.198653
sibsp          0.000000
parch          0.000000
fare           0.000000
embarked       0.002245
class          0.000000
who            0.000000
adult_male     0.000000
deck           0.772166
embark_town    0.002245
alive          0.000000
alone          0.000000
dtype: float64

In [42]:
def prop_complete(vec):
    return 1-prop_missing(vec)

## 데이터프레임의 누락값을 처리한 다음 apply 메서드 사용하기 - 행 방뱡

In [44]:
cmis_row=titanic.apply(count_missing, axis=1)
pmis_row=titanic.apply(prop_missing, axis=1)
pcom_row=titanic.apply(prop_complete, axis=1)

In [45]:
print(cmis_row.head())

0    1
1    0
2    1
3    0
4    1
dtype: int64

In [47]:
print(pmis_row.head())

0    0.066667
1    0.000000
2    0.066667
3    0.000000
4    0.066667
dtype: float64

In [48]:
print(pcom_row.head())

0    0.933333
1    1.000000
2    0.933333
3    1.000000
4    0.933333
dtype: float64

In [49]:
titanic['num_missing']=titanic.apply(count_missing, axis=1)

In [50]:
print(titanic.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone  num_missing
0    man        True  NaN  Southampton    no  False            1
1  woman       False    C    Cherbourg   yes  False            0
2  woman       False  NaN  Southampton   yes   True            1
3  woman       False    C  Southampton   yes  False            0
4    man        True  NaN  Southampton    no   True            1

In [51]:
print(titanic.loc[titanic.num_missing>1,:].sample(10))

     survived  pclass     sex   age  sibsp  parch      fare embarked  class  \
643         1       3    male   NaN      0      0   56.4958        S  Third
306         1       1  female   NaN      0      0  110.8833        C  First
61          1       1  female  38.0      0      0   80.0000      NaN  First
602         0       1    male   NaN      0      0   42.4000        S  First
300         1       3  female   NaN      0      0    7.7500        Q  Third
495         0       3    male   NaN      0      0   14.4583        C  Third
304         0       3    male   NaN      0      0    8.0500        S  Third
250         0       3    male   NaN      0      0    7.2500        S  Third
560         0       3    male   NaN      0      0    7.7500        Q  Third
335         0       3    male   NaN      0      0    7.8958        S  Third

       who  adult_male deck  embark_town alive  alone  num_missing
643    man        True  NaN  Southampton   yes   True            2
306  woman       False  NaN    Cherbourg   yes   True            2
61   woman       False    B          NaN   yes   True            2
602    man        True  NaN  Southampton    no   True            2
300  woman       False  NaN   Queenstown   yes   True            2
495    man        True  NaN    Cherbourg    no   True            2
304    man        True  NaN  Southampton    no   True            2
250    man        True  NaN  Southampton    no   True            2
560    man        True  NaN   Queenstown    no   True            2
335    man        True  NaN  Southampton    no   True            2

In [53]:
#누락값이 2개 이상인 데이터를 추출한 것.